.filters {
  padding: 0 20px;
}
.filter-sort-bar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: white;
    z-index: 999;
    padding: 10px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.filters-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filters-list li {
  margin-bottom: 10px;
}

.filter-label {
  cursor: pointer;
  font-size: 15px;
  color: #424242;
  transition: color 0.2s;
  padding: 6px 14px;
  border-radius: 20px;
  display: inline-block;
  border: 1px solid transparent;
}

.filter-label.selected, .filter-label:hover {
  color: #000;
  background: #ededed;
  border: 1px solid #ccc;
}

.filter-radio {
  display: none;
}
.item-fiter-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.toggle-filter-btn {
  background: none;
  border: none;
  color: #888;
  font-weight: 700;
  cursor: pointer;
  padding: 6px 12px;
  margin-left: 20px;
  text-decoration: underline;
  font-family: "Simplon Norm", sans-serif;
  letter-spacing: 1.3px;
}
.toggle-filter-btn:hover {
  color: #000;
}