* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.footer {
  background: #111;
  color: #fff;
  padding: 60px 8%;
  width: 100%;
}

/* ---------- TOP SECTION ---------- */

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 35px;
  margin-bottom: 50px;
  border-bottom: 1px solid #444;
  padding-bottom: 40px;
}

.footer-top h3 {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
}

.newsletter {
  max-width: 380px;
}

.newsletter p {
  font-size: 14px;
  opacity: 0.8;
}

.newsletter-input {
  display: flex;
  margin-top: 18px;
  max-width: 400px;
}

.newsletter-input input {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
}

.newsletter-input button {
  background: #fff;
  color: #000;
  padding: 12px 22px;
  border: none;
  border-radius: 0 5px 5px 0;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}

/* CONTACT */
.contact p {
  font-size: 14px;
  margin: 5px 0;
}

/* CURRENCY BOX */
.currency-box {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #222;
  padding: 8px 12px;
  width: fit-content;
  border-radius: 4px;
  margin-top: 6px;
}

.currency-note {
  margin-top: 8px;
  font-size: 11px;
  opacity: 0.7;
}

/* ---------- BOTTOM SECTION ---------- */

.footer-bottom {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 45px;
}

.links h4,
.social-payments h4 {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
}

.links a {
  display: block;
  color: #ccc;
  margin: 6px 0;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s;
}

.links a:hover {
  color: #fff;
}


.social-icons {
    height: 32px;
    gap: 10px;
}

.social-icons img:hover {
  opacity: 0.7;
}

/* PAYMENTS */
.payments {
  margin-top: 25px;
}

.payment-logos img {
  height: 26px;
  margin-right: 14px;
  margin-top: 10px;
  vertical-align: middle;
  filter: brightness(0) invert(1); /* Makes logos white if needed */
  opacity: 0.9;
  transition: 0.3s;
}

.payment-logos img:hover {
  opacity: 1;
}

/* COPYRIGHT */
.footer p {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  opacity: 0.8;
}


@media (max-width: 1024px) {
  .footer {
    padding: 50px 6%;
  }
}

@media (max-width: 768px) {
  .footer-top {
    justify-content: flex-start;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .newsletter-input {
    flex-direction: column;
  }

  .newsletter-input input,
  .newsletter-input button {
    border-radius: 5px;
  }

  .newsletter-input button {
    margin-top: 10px;
    width: 100%;
  }

  .payment-logos img {
    height: 22px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 40px 5%;
  }

  .links h4,
  .social-payments h4,
  .footer-top h3 {
    font-size: 15px;
  }

  .links a,
  .payment-logos img {
    font-size: 13px;
  }
}
