.product-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #e46767;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 300px;
    height: 462px;
    top: 652px;
    left: 728px;
    opacity: 1;

}

.image {
    width: 200px;
    height: 200px;
    opacity: 1;
    object-fit: contain;
    margin-bottom: 10px;
}

.title {
    font-family: Simplon Norm;
    font-weight: 600;
    font-style: Bold;
    font-size: 18px;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.price {
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

.btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}
.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px; 
}
